<div style="clear: both; overflow: auto;">
  <div style="float: left; width: {% if include.left-width -%}{{ include.left-width }}{% else %}50%{%- endif %}; padding-right: 20px; box-sizing: border-box;">
    {% if include.left-content -%}
      <p>{{ include.left-content | markdownify }}</p>
    {%- endif %}
    {% if include.left-image -%}
      <img src="{{ include.left-image }}" alt="{{ include.left-alt }}" style="max-width: 100%; height: auto;">
    {%- endif %}
  </div>
  <div style="float: right; width: {% if include.right-width -%}{{ include.right-width }}{% else %}50%{%- endif %};">
    {% if include.right-content -%}
      <p>{{ include.right-content | markdownify }}</p>
    {%- endif %}
    {% if include.right-image -%}
      <img src="{{ include.right-image }}" alt="{{ include.right-alt }}" style="max-width: 100%; height: auto;">
    {%- endif %}
  </div>
</div>